mindalka-accordion{
	overflow: hidden;
	display: flex;
	justify-content: center;
	flex-direction: column;
	position: relative;

	/*--accordion-text-color: #000;*/
}
mindalka-accordion .item .header{
	cursor: pointer;
	display: block;
	user-select: none;
	padding: 5px;
	/*color: var(--accordion-text-color)
	color: var(--accordion-text-color)*/
}
mindalka-accordion .item .content{
	display: block;
	overflow: hidden;
	height: 0;
	/*transition: all 0.5s ease 0s;*/
}
mindalka-accordion .item .content.selected{
	height: unset;
	padding: 10px;
}


@media (prefers-color-scheme: light){
	mindalka-accordion{
		--accordion-text-color: #000;
		--accordion-background-color: #eee;
		color: #000;
		background: #eee;
	}
}
@media (prefers-color-scheme: dark){
	mindalka-accordion{
		--accordion-text-color: #eee;
		--accordion-background-color: #000;
		color: #eee;
		background: #000;
	}
}
