mindalka-tab-group{
	width:100%;
	height:100%;
	display: flex;
	flex-direction: column;
	position: relative;
	overflow: hidden;
}
.mindalka-tab-group-header{
	flex: 0 0;
	background-color: var(--main-bg-color-bright);
	display: flex;
}
.mindalka-tab-group-content{
	flex: 1;
	background-color: var(--main-bg-color-dark);
	overflow: auto;
}
