:root{
	--mindalka-switch-width: 4rem;
	--mindalka-switch-height: 2rem;
	--mindalka-switch-on-background-color: #1072eb;
	--mindalka-switch-on-background-color-hover: #1040c1;
	--mindalka-switch-slider-width: 1.4rem;
	--mindalka-switch-slider-height: 1.4rem;
	--mindalka-switch-slider-margin: 0.3rem;
	--mindalka-switch-slider-border-width: 0rem;
}

mindalka-switch{
	display: inline-flex;
	overflow: hidden;
	user-select: none;
	cursor: pointer;
	justify-content: space-between;
}
.mindalka-switch-label{
	margin: auto 0;
	font-weight: bold;
}
.mindalka-switch-outer{
	display: flex;
	flex: 0 0 var(--mindalka-switch-width);
	height: var(--mindalka-switch-height);
	border-radius: calc(var(--mindalka-switch-height) * 0.5);
	align-items: center;
	margin-left: 0.25rem;
	transition: background-color 0.25s linear;
}

mindalka-switch > span{
	background-color: var(--mindalka-ui-input-background-primary);
}
mindalka-switch:hover > span{
	background-color: var(--mindalka-ui-input-background-secondary);
}
mindalka-switch.on > span{
	background-color: var(--mindalka-ui-accent-primary);
}
mindalka-switch.on:hover > span{
	background-color: var(--mindalka-ui-accent-secondary);
}
.mindalka-switch-inner{
	display: inline-block;
	height: var(--mindalka-switch-slider-height);
	width: var(--mindalka-switch-slider-width);
	border-radius: calc(var(--mindalka-switch-slider-height) * 0.5);
	transition: all 0.25s;
	position: relative;
	left: var(--mindalka-switch-slider-margin);
	border: var(--mindalka-switch-slider-border-width) solid;
	box-sizing: border-box;
	border-color: var(--mindalka-ui-input-border-primary);
	background-color: var(--mindalka-ui-input-background-tertiary);
}
mindalka-switch.on .mindalka-switch-inner{
	left: calc(100% - var(--mindalka-switch-slider-width) - var(--mindalka-switch-slider-margin));
}
